*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	background-color: lightgray;
}

/* container CSS starts */

.container{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align:center;
	border-radius: 35%;
}
.container h1{
	margin-bottom: 40px;
	font-size:40px;
	font-family: Arial, Helvetica, sans-serif;
}
.popup{
	background:orange;
	padding:10px 25px 10px 25px;
	color:white;
	font-size: 20px;
	font-weight: 300;
	border-radius: 5px;
	text-transform: uppercase;
	margin-top: 25px;
	box-shadow: 6px 6px 20px -4px rgba(92, 91, 91, 0.5);
	transition:0.4s;
}
.popup:hover{
	background-color:#F0BA6B;
	color:rgb(255, 244, 223);
}

/* container CSS ends */

/* popup box CSS starts */
.popupbox{
	background: rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.popup-content{
	height:250px;
	width:500px;
	background: #fff;
	padding:20px;
	border-radius: 5px;
	position: relative;
}
/* .popupbox .popup-content{
	display:flex;
} */
.popup-content h4{
	margin:20px;
	font-family: arial;
	color:navy;
}
.box{
	margin:10px;
	height:30px;
	width: 70%;
}
.log{
	padding:20px;
	margin-bottom:50px;
	background-color: orange;
	color:white;
	padding:10px 15px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 5px;
	box-shadow: 6px 6px 20px -4px rgba(92, 91, 91, 0.5);

}


/* popup box CSS ends */


